* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: rgb(36, 62, 99);
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

section {
    padding: 0 32px;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

main {
    margin-bottom: 80px;
}

button {
    cursor: pointer;
}
.btn {
    background-color: rgb(100, 21, 255);
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 12px 32px;
    border-width: medium;
    border-style: none;
    border-color: currentColor;
    border-image: initial;
    border-radius: 500px;
    transition: 300ms;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.purple {
    color: rgb(100, 21, 255);
}

/*NAV*/

nav {
    padding-top: 32px;
    display: flex;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: 300ms;
}

.nav__link {
    margin: 0 24px;
}

a {
    display: inline;
    text-decoration: none;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 21, 255);
    line-height: 1.5;
    margin: 2px 0 0;
    padding: 10px 32px;
    border-radius: 9999px;
    border-width: medium;
    border-style: none;
    border-color: currentColor;
    border-image: initial;
    transition: 300ms;
}


/*MENU*/

.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 378px;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    margin: 24px 16px;
    padding: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-image: initial;
    border-radius: 8px;
    transition: 300ms;
}

.btn__menu {
    background-color: transparent;
    border-width: medium;
    border-style: none;
    border-color: currentColor;
    border-image: initial;
    transition: 300ms;
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: rgb(26, 32, 44);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 4px;
    margin: 8px 0;
    border-bottom: 2px solid transparent;
}

.menu__link--primary {
    color: rgb(247, 250, 252);
    padding: 12px 32px;
    background: rgb(100, 21, 255);
    border-radius: 500px;
    border-width: medium;
    border-style: none;
    border-color: currentColor;
    border-image: initial;
}

/*HEADER*/

header {
    position: relative;
}

.container {
    padding: 80px 0;
}

header .row {
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;   
}

.header__description {
    width: 40%;
}

p {
    line-height: 1.5;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    width: 160px;
    background-color: #6415ff;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 500px;
    transition: all 300ms ease;
}

.header__customers--title {
    color: #a0aec0;
    font-weight: 700;
    margin-top: 80px;
    letter-spacing: 0.6;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

img {
    width: 100%;
}

.header__img {
    width: 100%;
}

/*FEATURES*/

#features {
    position: relative;
}

section {
    padding: 0 32px;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    flex-direction: row;
}

.feature {
    width: calc(100%/3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    flex-direction: column;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
    border-image: initial;
    border-radius: 500px;
    flex-direction: row;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__para {
    font-size: 16px;
    color: rgb(124, 139, 161);
    font-weight: 500;
}

.feature__row {
    display: flex;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

/*QUALITY*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__title {
    font-weight: 900;
    color: rgb(36, 62, 99);
    letter-spacing: 0.025em;
    margin: 16px 0;
}

.section__para {
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;
}

#quality .btn {
    margin-top: 32px;
}

.quality__img--wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    margin: 0 56px;
    flex-direction: row;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}
.quality__description {
    max-width: 576px;
    margin-right: 64px;
}
.quality__description, .quality__img--wrapper {
    width: 50%;
}

/*STEPS*/

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__img {
    z-index: 2;
}

.steps__grid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentcolor;
}

.section__title {
    font-weight: 900;
    color: rgb(36, 62, 99);
    letter-spacing: 0.025;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    color: rgb(203, 213, 224);
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: rgb(36, 62, 99);
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: rgb(113, 128, 150);
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/*VALUES*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}
.section__para {
    font-weight: 500;
    color: rgb(124, 139, 161);
    line-height: 1.625;
}

.values__list {
    display: flex;
}

.value {
    display: flex;
    flex-direction: column;
}

.value:nth-of-type(1) {
    margin-top: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}
.value:nth-child(1) .value__img--wrapper {
    background-color: rgb(154, 230, 180);
}

.value__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(36, 62, 99);
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: rgb(113, 128, 150);
}

.value:nth-of-type(2) {
    margin-top: 32px;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: rgb(254, 178, 178);
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: rgb(113, 128, 150);
}

#values .btn {
    margin-top: 48px;
}

/*PRICING */

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__para {
    max-width: 576px;
    text-align: center;
}

.plans {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26, 32, 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: rgb(247, 250, 252);
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plan:nth-child(2n+1) .plan__name, .plan:nth-child(2n+1) .plan__price, .plan:nth-child(2n+1) .plan__target {
    color: rgb(26, 32, 44);
}

.plan__name {
    font-size: 20px;
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__price {
    margin: 4px 0;
}

.plan:nth-child(2n+1) .plan__duration {
    color: rgb(160, 174, 192);
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    flex: 1 1 0%;
    padding: 2rem;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025rem;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: rgb(113, 128, 150);
    font-size: 16px;
    line-height: 1.5;
}

.plan__button {
    font-weight: 700;
    width: 100%;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 1rem 2rem;
    transition: 300ms;
    border-radius: 9999px;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: rgb(247, 250, 252);
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 2rem;
}

.plan:nth-child(2) .plan__button {
    color: rgb(100, 21, 255);
    background-color: rgb(247, 250, 252);
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: rgb(247, 250, 252);
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

/*TESTIMONIALS*/

#testimonials .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
 }

 #testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating {
    color: rgb(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.fa-solid, .fas {
    font-weight: 900;
}

.fa-star {
    --fa: "\f005";
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free";
}

.fa, .fa-brands, .fa-regular, .fa-solid, .fab, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fa-star {
    color: rgb(246, 173, 85);
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
}

.testimonial__title {
    color: rgb(74, 85, 104);
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74, 85, 104);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    border-radius: 50%;
}

.testimonial__name {
    color: rgb(74, 85, 104);
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role {
    color: rgb(124, 139, 161);
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: rgb(237, 242, 247);
    border-radius: 50%;
    margin: 0px 12px;
    transition: 300ms;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: rgb(237, 242, 247);
    height: 20px;
}


/*START*/


#start .row {
    position: relative;
    overflow: hidden;
}

.start__container {
    width: 100%;
    background-color: rgb(100, 21, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 0px;
    border-radius: 8px;
}

.start__row {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 0px 32px;
}

.start__title {
    color: rgb(247, 250, 252);
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__button:nth-child(1) {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    background: rgb(245, 101, 101);
    transition: 300ms;
}

.start__button {
    font-weight: 700;
    color: rgb(247, 250, 252);
    line-height: 1.5;
    z-index: 2;
    border-radius: 500px;
    margin: 1px;
}

.start__button:nth-child(2) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(160, 174, 192);
    border-image: initial;
    transition: 300ms;
}

/* FOOTER*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255); 
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: rgb(247, 250, 252);
    line-height: 1.5;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link {
    color: rgb(247, 250, 252);
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: rgb(247, 250, 252);
    line-height: 1.5;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0px;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: rgb(247, 250, 252);
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: rgb(203, 213, 224);
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: center;
}

.footer__social--link {
    margin-left: 16px;
    display: flex;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    padding: 8px;
    background: rgb(247, 250, 252);
    border-radius: 50%;
    transition: 300ms;
}





